# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
all_images/test_data/images/MASK.3c886136-bb4e-11ed-a183-48e244906cde.jpg
all_images/test_data/images/MASK.4c3e2395-bb4e-11ed-9884-48e244906cde.jpg
all_images/test_data/images/MASK.4d74599e-bb4e-11ed-abe1-48e244906cde.jpg
all_images/test_data/images/MASK.5bf4f74e-bb4e-11ed-8096-48e244906cde.jpg
all_images/test_data/images/NO Mask.2d1aa47a-bb4e-11ed-84b5-48e244906cde.jpg
all_images/test_data/images/NO Mask.25d75bf8-bb4e-11ed-acef-48e244906cde.jpg
all_images/test_data/images/NO Mask.2238ff56-bb4e-11ed-87d1-48e244906cde.jpg
all_images/test_data/labels/MASK.3c886136-bb4e-11ed-a183-48e244906cde.txt
all_images/test_data/labels/MASK.4c3e2395-bb4e-11ed-9884-48e244906cde.txt
all_images/test_data/labels/MASK.4d74599e-bb4e-11ed-abe1-48e244906cde.txt
all_images/test_data/labels/MASK.5bf4f74e-bb4e-11ed-8096-48e244906cde.txt
all_images/test_data/labels/NO Mask.2d1aa47a-bb4e-11ed-84b5-48e244906cde.txt
all_images/test_data/labels/NO Mask.25d75bf8-bb4e-11ed-acef-48e244906cde.txt
all_images/test_data/labels/NO Mask.2238ff56-bb4e-11ed-87d1-48e244906cde.txt
all_images/train_data/images/MASK.3a1d2d9d-bb4e-11ed-8bfb-48e244906cde.jpg
all_images/train_data/images/MASK.3b52c769-bb4e-11ed-93a9-48e244906cde.jpg
all_images/train_data/images/MASK.3dbe7045-bb4e-11ed-b64e-48e244906cde.jpg
all_images/train_data/images/MASK.3ef47f56-bb4e-11ed-8639-48e244906cde.jpg
all_images/train_data/images/MASK.4b081489-bb4e-11ed-815e-48e244906cde.jpg
all_images/train_data/images/MASK.4eaa418c-bb4e-11ed-acf5-48e244906cde.jpg
all_images/train_data/images/MASK.4fdfb455-bb4e-11ed-b274-48e244906cde.jpg
all_images/train_data/images/MASK.5abec15b-bb4e-11ed-ba8f-48e244906cde.jpg
all_images/train_data/images/NO Mask.1f717aed-bb4e-11ed-a5a2-48e244906cde.jpg
all_images/train_data/images/NO Mask.2aaead7f-bb4e-11ed-8ded-48e244906cde.jpg
all_images/train_data/images/NO Mask.2be4bc7e-bb4e-11ed-90e2-48e244906cde.jpg
all_images/train_data/images/NO Mask.2e51018c-bb4e-11ed-93c1-48e244906cde.jpg
all_images/train_data/images/NO Mask.2f85d82e-bb4e-11ed-aa61-48e244906cde.jpg
all_images/train_data/images/NO Mask.30bad606-bb4e-11ed-a6f3-48e244906cde.jpg
all_images/train_data/images/NO Mask.236d60d9-bb4e-11ed-b3cd-48e244906cde.jpg
all_images/train_data/labels/MASK.3a1d2d9d-bb4e-11ed-8bfb-48e244906cde.txt
all_images/train_data/labels/MASK.3b52c769-bb4e-11ed-93a9-48e244906cde.txt
all_images/train_data/labels/MASK.3dbe7045-bb4e-11ed-b64e-48e244906cde.txt
all_images/train_data/labels/MASK.3ef47f56-bb4e-11ed-8639-48e244906cde.txt
all_images/train_data/labels/MASK.4b081489-bb4e-11ed-815e-48e244906cde.txt
all_images/train_data/labels/MASK.4eaa418c-bb4e-11ed-acf5-48e244906cde.txt
all_images/train_data/labels/MASK.4fdfb455-bb4e-11ed-b274-48e244906cde.txt
all_images/train_data/labels/MASK.5abec15b-bb4e-11ed-ba8f-48e244906cde.txt
all_images/train_data/labels/NO Mask.1f717aed-bb4e-11ed-a5a2-48e244906cde.txt
all_images/train_data/labels/NO Mask.2aaead7f-bb4e-11ed-8ded-48e244906cde.txt
all_images/train_data/labels/NO Mask.2be4bc7e-bb4e-11ed-90e2-48e244906cde.txt
all_images/train_data/labels/NO Mask.2e51018c-bb4e-11ed-93c1-48e244906cde.txt
all_images/train_data/labels/NO Mask.2f85d82e-bb4e-11ed-aa61-48e244906cde.txt
all_images/train_data/labels/NO Mask.30bad606-bb4e-11ed-a6f3-48e244906cde.txt
all_images/train_data/labels/NO Mask.236d60d9-bb4e-11ed-b3cd-48e244906cde.txt
collected_data/MASK/classes.txt
collected_data/MASK/MASK.38e522b9-bb4e-11ed-bef1-48e244906cde.jpg
collected_data/MASK/MASK.44fd4c07-bb4e-11ed-bb5d-48e244906cde.jpg
collected_data/MASK/MASK.49d2a340-bb4e-11ed-be22-48e244906cde.jpg
collected_data/MASK/MASK.54b1fce4-bb4e-11ed-a67d-48e244906cde.jpg
collected_data/MASK/MASK.65a03f35-bb4e-11ed-b312-48e244906cde.jpg
collected_data/MASK/MASK.402a6733-bb4e-11ed-b634-48e244906cde.jpg
collected_data/MASK/MASK.489c92d9-bb4e-11ed-8b5b-48e244906cde.jpg
collected_data/MASK/MASK.537d747f-bb4e-11ed-ba3e-48e244906cde.jpg
collected_data/MASK/MASK.3679c801-bb4e-11ed-a2c7-48e244906cde.jpg
collected_data/MASK/MASK.5113a067-bb4e-11ed-a891-48e244906cde.jpg
collected_data/MASK/MASK.46330ceb-bb4e-11ed-950d-48e244906cde.jpg
collected_data/MASK/MASK.47687fa4-bb4e-11ed-8b36-48e244906cde.jpg
collected_data/MASK/MASK.52484fe1-bb4e-11ed-beb6-48e244906cde.jpg
collected_data/MASK/MASK.58527ca7-bb4e-11ed-bcf9-48e244906cde.jpg
collected_data/MASK/MASK.59888b3f-bb4e-11ed-a6ee-48e244906cde.jpg
collected_data/MASK/MASK.429350e3-bb4e-11ed-8567-48e244906cde.jpg
collected_data/MASK/MASK.633580b5-bb4e-11ed-8800-48e244906cde.jpg
collected_data/NO Mask/classes.txt
yolov5